.review-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-name {
  width: 50%;
}

.quantity {
  width: 30px;
}
.plus-minus {
  border: 1px solid black;
  height: 20px;
  width: 20px;
  text-align: center;
  margin: 5px;
}
.total-cont {
  margin-left: auto;
}
