.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  /* padding: 5px; */
  margin: 0.5rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  .product-item {
    margin: 0.1rem 0;
  }
  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.4rem;
    font-size: small;
  }
}

.product-and-search-container {
  display: flex;
}

.search-display {
  padding: 0 0;
  text-align: end;
  margin-bottom: 1rem;
}
