.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 1;

  background: lightblue;

  text-align: center;
  transition: 0.25s;
  overflow-x: hidden;
}

.sidebar-icon-container {
}

.open {
  width: 400px;
  /* background: black; */
}

button {
  /* position: absolute; */
}
