.sidebar {
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1;

  background: lightblue;

  text-align: center;
  transition: 0.25s;
  overflow-x: hidden;
}

.sidebar-icon-container {
  float: right;
  position: relative;
}

.open {
  width: 400px;
  padding: 1rem;
}

@media (max-width: 400px) {
  .open {
    width: 100%;
  }
}

button {
  /* position: absolute; */
}

.total-border {
  margin-top: 1rem;
  border-top: 2px solid black;
}
